<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RestaurantController</display-name>
    <servlet-name>RestaurantController</servlet-name>
    <servlet-class>controllers.RestaurantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantController</servlet-name>
    <url-pattern>/RestaurantController</url-pattern>
  </servlet-mapping>
  <display-name>Meal-Mate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RestaurantDeleteController</display-name>
    <servlet-name>RestaurantDeleteController</servlet-name>
    <servlet-class>controllers.RestaurantDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantDeleteController</servlet-name>
    <url-pattern>/RestaurantDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantsUpdateController</display-name>
    <servlet-name>RestaurantsUpdateController</servlet-name>
    <servlet-class>controllers.RestaurantsUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantsUpdateController</servlet-name>
    <url-pattern>/RestaurantsUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantUpdateController</display-name>
    <servlet-name>RestaurantUpdateController</servlet-name>
    <servlet-class>controllers.RestaurantUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantUpdateController</servlet-name>
    <url-pattern>/RestaurantUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersDeleteController</display-name>
    <servlet-name>UsersDeleteController</servlet-name>
    <servlet-class>controllers.UsersDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersDeleteController</servlet-name>
    <url-pattern>/UsersDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishesAddController</display-name>
    <servlet-name>DishesAddController</servlet-name>
    <servlet-class>controllers.DishesAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishesAddController</servlet-name>
    <url-pattern>/DishesAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishesDeleteController</display-name>
    <servlet-name>DishesDeleteController</servlet-name>
    <servlet-class>controllers.DishesDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishesDeleteController</servlet-name>
    <url-pattern>/DishesDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishesUpdateController</display-name>
    <servlet-name>DishesUpdateController</servlet-name>
    <servlet-class>controllers.DishesUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishesUpdateController</servlet-name>
    <url-pattern>/DishesUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>